@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #ed6663;
  background: #1d2d50;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 400;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 1.25rem;
  letter-spacing: 0.3rem;
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #1d2d50;
}
img {
  width: 100%;
  display: block;
}

/* Navbar */
.navbar {
  background: #133b5c;
  height: 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1e5f74;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  color: #fcdab7;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.3s linear;
}
.logo {
  margin-left: 1rem;
  width: 12rem;
}
