@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #ed6663;
  background: #1d2d50;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 400;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 1.25rem;
  letter-spacing: 0.3rem;
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #1d2d50;
}
img {
  width: 100%;
  display: block;
}

/* Navbar */
.navbar {
  background: #133b5c;
  height: 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1e5f74;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  color: #fcdab7;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.3s linear;
}
.logo {
  margin-left: 1rem;
  width: 12rem;
}

/* Section */
.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
  color: #fcdab7;
}

/* About */
.about-section {
  color: #f6e3c5;
  width: 85vw;
  max-width: 40rem;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
}
.about-section p {
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}

/* Buttons */
.btn,
.btn-primary,
.btn-white {
  text-transform: uppercase;
  color: #ed6663;
  border: 2px solid #ed6663;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 1rem;
  background: transparent;
  border-radius: 0.5rem;
}
.btn:hover {
  background: #0093ab;
  color: #133b5c;
  border: 2px solid #0093ab;
  font-weight: bold;
}

/* Error page */
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}

/* Loader */
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #0093ab;
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Search form */
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}
.search-form {
  width: 85vw;
  margin: 0 auto;
  max-width: 40rem;
  background: #006778;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}
.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  color: #fcdab7;
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: #f6e3c5;
  padding: 0.5rem;
  font-size: 1.2rem;
}
